
html {
    /* adiciona suavidade ao scrollar */
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif !important;
}


body {
    background: rgb(252, 176, 69) !important;
    text-decoration: none !important;
}

.tamnhoUrna {
    margin-top: 80px;
    width: 2000px
}

.cards {
    margin-top: 200px;
}

.urnaII {
    width: 320px;
    text-align: center;
    margin-left: 400px;
}


.textoI {
    margin-top: 210px;
}

#nav-btn>div {
    width: 20px;
    height: 4px;
    background-color: #0D2446;
    margin: 4px 0px;
    transition: all 0.4s linear;
}

#nav-btn:hover div {
    background-color: #142e2a;
}

.infor {
    margin-top: 100px;
}


/* Featrurezinhas
  ------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Espaça o elemento <hr> mais */
}

/* Afina os cabeçalhos de marketing */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}